<!DOCTYPE html>
<html>
<title>Top Twenty</title>
<body>
<h1>Forecasting Individual Dealer Sales</h1>
<p>This site is about sales forecasting an individual dealer performance in a large dealer network. In this example the dealers are the top twenty dealers forecasted for the greatest revenue gain.  Please select a dealer for your further review from the  Select Partner dropdown box.  The Most Important Features table contains the strongest and most positive causes of continued dealer performance.</p>
{{script|safe}}
</body>
</html>
